@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --transition-delay: all .5s linear;
  --primary-color: #FBD062;
  --default-radius: 5px;
  --focus-words: #7AB259;
}

::selection {
  background-color: red;
  color: white;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Header section */
#header-section {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#header-logo img {
  height: 47px;
  width: 150px;
  object-fit: cover;
}

#header-items {
  gap: 1rem;
}

.header-item {
  transition: var(--transition-delay);
}

.header-item:hover {
  color: white;
}

#authenticate-btn {
  height: 45px;
  width: 134px;
  border-radius: var(--default-radius);
  transition: var(--transition-delay);
}

#authenticate-btn a {
  color: white;
}

#authenticate-btn:hover {
  background-color: white;
}

#authenticate-btn:hover a {
  color: black;
}

/* banner section */
#banner-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 23px;
}

#banner-desc {
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 24px;
}

#banner-section {
  margin-top: 5%;
}

#banner-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: bottom;
}

/* Contact section */
#contact-section {
  background-color: var(--primary-color);
  padding: 63px 0;
}

#matched-btn {
  height: 45px;
  width: 170px;
  border-radius: var(--default-radius);
  transition: var(--transition-delay);
}

#matched-btn:hover {
  background-color: white;
  color: black;
}

input,
textarea {
  width: 100%;
  height: 70px;
  border-radius: var(--default-radius);
  border: 1px solid #000000;
  margin-bottom: 16px;
  padding: 30px;
}

textarea {
  height: 277px;
}
/* feedback section */