@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --transition-delay: all .5s linear;
  --primary-color: #FBD062;
  --default-radius: 5px;
  --focus-words: #7AB259;
}

::selection {
  background-color: red;
  color: white;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Header section */
#header-section {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#header-logo img {
  height: 47px;
  width: 150px;
  object-fit: cover;
}

#header-items {
  gap: 1rem;
}

.header-item {
  transition: var(--transition-delay);
}

.header-item:hover {
  color: white;
}

#authenticate-btn {
  height: 45px;
  width: 134px;
  border-radius: var(--default-radius);
  transition: var(--transition-delay);
}

#authenticate-btn a {
  color: white;
}

#authenticate-btn:hover {
  background-color: white;
}

#authenticate-btn:hover a {
  color: black;
}

/* banner section */
#banner-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 23px;
}

#banner-desc {
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 24px;
}

#banner-section {
  margin-top: 5%;
}

#banner-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: bottom;
}

/* Contact section */
#contact-section {
  background-color: var(--primary-color);
  padding: 63px 0;
}

#matched-btn {
  height: 45px;
  width: 170px;
  border-radius: var(--default-radius);
  transition: var(--transition-delay);
}

#matched-btn:hover {
  background-color: white;
  color: black;
}

input,
textarea {
  width: 100%;
  height: 70px;
  border-radius: var(--default-radius);
  border: 1px solid #000000;
  margin-bottom: 16px;
  padding: 30px;
}

textarea {
  height: 277px;
}

/* feedback section */
#feedback-section {
  margin-top: 10%;
}

.feedback-card {
  transition: var(--transition-delay);
}

.feedback-card:hover {
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
}
/* landing page section */
#landing-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  padding-bottom: 10%;
  margin-top: -4.5rem;
  padding-top: 10rem !important;
}
@media only screen and (max-width: 1024px) {
  #landing-section {
    margin-top: 0;
  }
}
/* partners section */
#partners-section div img {
  object-fit: cover;
  width: 70%;
  transition: var(--transition-delay);
}

#partners-section div img:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 720px) {
  #partners-section div img {
    width: 30%;
  }
}
/* services section */
.section-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 5%;
}

.focus-words {
  color: var(--focus-words);
}

#service-section {
  margin-top: 10%;
}

.service-card {
  transition: var(--transition-delay);
}

.service-card:hover,
.active {
  transform: scale(1.1);
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
}
/* slider section */
#slider-section {
  margin-top: 10%;
  background-color: black;
}
/* menu bar */
#menubar {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #menubar {
    display: inline-block;
  }

  #header-items {
    display: none !important;
  }
  .header-item:hover {
    color: var(--primary-color);
  }
}
/* loading */
.loading-section {
  display: grid;
  justify-items: center;
  /* margin-top: 30vh */
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  grid-area: 1/1;
}

.green {
  background-color: rgba(11, 11, 11, 0.7);
  animation: move-right 2s linear infinite
}

.orange {
  background-color: rgb(255, 165, 0, 0.9);
  animation: move-left 2s linear infinite
}

@keyframes move-right {

  0%,
  100% {
    margin-right: 0
  }

  25% {
    margin-right: 250px;

  }

  50% {
    z-index: 2
  }

  75% {
    margin-right: -250px;
  }
}

@keyframes move-left {

  0%,
  100% {
    margin-left: 0
  }

  25% {
    margin-left: 250px;
  }

  75% {
    margin-left: -250px;
  }
}

/* sidebar button */
#sidebar-btn {
  top: 5em;
  left: 1em;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgba(176, 171, 171, 0.75);
}

@media only screen and (max-width: 1024px) {
  #sidebar-btn {
    top: 11em;
    left: 1em;
  }
}

/* description input box */
.description-box {
  height: 112px;
}

input[type=file] {
  color: transparent !important;
  width: 100%;
}

#icon {
  background-color: #DEFFED;
  color: #009444;
  border: 1px solid #009444;
}

::-webkit-file-upload-button {
  background-color: transparent;
  border: none;
  color: transparent !important;
  width: 100%;
  height: 100%;
}

#group-input {
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  #group-input {
    gap: 0;
  }
}

.dashboard-section {
  background-color: #f4f7fc;
  border-radius: 10px;
  margin: 1rem;
}

@media only screen and (max-width: 1024px) {
  #make-admin-input {
    width: 100% !important;
  }
}


/* service card section */
#service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 1024px) {
  #service-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 720px) {
  #service-card {
    grid-template-columns: repeat(1, 1fr);
  }
}